<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cipher Email Sign in</title>
    <style>
        .wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <h3 class="wrap">请验证您的邮箱</h4>
        <p>  欢迎使用Cipher！Cipher收得到用户{{ email }}用户的邮箱登陆验证请求。</p>
        <p>  请使用此验证码完成Cipher的邮箱登陆设置：</p>
        <br>    
        <h2>{{ code }}</h2>
        <br>
        <p>此验证码15分钟内有效。</p>
    </div>
</body>
</html>